@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

/* PALETTE DE COULEUR */
body {
  font-family: "Lato", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
h2.lowercase {
  text-transform: initial;
}
h2.regular {
  font-weight: 400;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.textbody-very-large {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.textbody-large {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.textbody {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.textreference {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

.ref {
  font-size: 14px;
  vertical-align: super;
}

/* RESPONSIVE TABLETTE PAYSAGE */
@media screen and (min-width: 900px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .textbody-very-large {
    font-size: 36px;
    line-height: 43px;
  }

  .textbody-large {
    font-size: 24px;
    line-height: 32px;
  }

  .textbody {
    font-size: 18px;
    line-height: 19px;
  }
}
/* RESPONSIVE MOBILE PAYSAGE */
/* RESPONSIVE TABLETTE PORTRAIT */
/* RESPONSIVE TABLETTE PAYSAGE */
/* RESPONSIVE DESKTOP */
.button {
  display: inline-block;
}
.button :after {
  content: "";
  height: 2px;
  margin-top: 2px;
  display: block;
}
.button:hover :after {
  background-color: #F6DE06;
}

.button-big {
  display: inline-block;
}
.button-big :after {
  content: "";
  height: 3px;
  margin-top: 2px;
  display: block;
}
.button-big:hover :after {
  background-color: #F6DE06;
}

input {
  position: absolute;
  left: -99em;
  display: none;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 47px;
  height: 26px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 19px;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 4px;
  width: 18px;
  height: 18px;
  background-color: #F6DE06;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.lune {
  position: relative;
  width: 10px;
  height: 10px;
  left: 7px;
}

.soleil {
  position: relative;
  width: 11px;
  height: 11px;
  left: 8px;
  top: -16px;
}

input:checked + .toggle {
  background-color: #000;
  border: 1px solid #DDDDDD;
}
input:checked + .toggle .toggle__handler {
  background-color: #FFFFFF;
  transform: translate3d(20px, 0, 0) rotate(0);
}
input:checked + .toggle .soleil > path {
  fill: #DDDDDD;
  transform: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.dark-mode-button {
  position: absolute;
  top: 27px;
  right: 30px;
}

@media screen and (min-width: 900px) {
  .dark-mode-button {
    position: fixed;
  }
}
.trait-ref {
  height: 15px;
  width: 2px;
  display: inline-block;
  background-color: #F6DE06;
  margin-right: 5px;
  margin-bottom: -1px;
}

.num-ref {
  display: inline-block;
  padding-bottom: 9px;
}

.ref-overlay {
  display: none;
  opacity: 0;
}
.ref-overlay.afficher {
  display: inline-block;
  opacity: 1;
  width: 250px;
  background-color: #FFFFFF;
  border: solid 2px black;
  padding: 14px 23px 13px 17px;
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}
.ref-overlay .croix-overlay:before {
  content: "";
  position: absolute;
  right: 10px;
  background: center/contain no-repeat url("../img/croix.svg");
  height: 20px;
  width: 20px;
}
.ref-overlay a {
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  .all-ref {
    position: relative;
  }

  .ref-overlay.afficher {
    display: inline-block;
    opacity: 1;
    width: 250px;
    background-color: #FFFFFF;
    border: solid 2px black;
    padding: 14px 23px 13px 17px;
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0, 0);
    transition: opacity 0.5s ease-in-out;
  }
  .ref-overlay .croix-overlay:before {
    background-image: none;
  }
}
.player {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.player::-webkit-media-controls-panel {
  background-color: #FFFFFF;
}
.player::-webkit-media-controls-mute-button {
  background-color: #F6DE06;
  border-radius: 50%;
}
.player::-webkit-media-controls-play-button {
  background-color: #F6DE06;
  border-radius: 50%;
  margin-right: 10px;
}
.player::-webkit-media-controls-play-button:hover {
  background-color: #D7C310;
}
.player::-webkit-media-controls-current-time-display {
  color: #000000;
}
.player::-webkit-media-controls-time-remaining-display {
  color: #000000;
}
.player::-webkit-media-controls-timeline {
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.player::-webkit-media-controls-volume-slider {
  background-color: #F6DE06;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

#iframegodcast, #iframementalfm, #iframederniereseance, #iframelamission, #iframeunhommepapa, #iframespotify3d {
  width: 95%;
  height: auto;
  margin-bottom: 50px;
}

#iframeappeldesabysses, #iframeepopeetemporelle {
  width: 95%;
  height: auto;
}

#iframeraproll, #iframelenuage {
  width: 95%;
}

.div-dot {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot-collision {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #121212;
  color: #121212;
}

.dot-collision::before, .dot-collision::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-collision::before {
  left: -8px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #121212;
  color: #121212;
  -webkit-animation: dotCollisionBefore 2s infinite ease-in;
          animation: dotCollisionBefore 2s infinite ease-in;
}

.dot-collision::after {
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #121212;
  color: #121212;
  -webkit-animation: dotCollisionAfter 2s infinite ease-in;
          animation: dotCollisionAfter 2s infinite ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dotCollisionBefore {
  0%, 50%, 75%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-15px);
  }
}

@keyframes dotCollisionBefore {
  0%, 50%, 75%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-15px);
  }
}
@-webkit-keyframes dotCollisionAfter {
  0%, 50%, 75%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
}
@keyframes dotCollisionAfter {
  0%, 50%, 75%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
}
.menu-burger .menu {
  position: absolute;
  left: -100px;
  top: -150px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF;
  cursor: pointer;
}
.menu-burger .menu .hamburger {
  position: absolute;
  top: 187px;
  left: 120px;
  width: 25px;
  height: 3px;
  background: #000000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out, background-color 0s;
}
.menu-burger .menu .hamburger:after, .menu-burger .menu .hamburger:before {
  transition: 0.5s ease-in-out, background-color 0s;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.menu-burger .menu .hamburger:before {
  top: -7px;
}
.menu-burger .menu .hamburger:after {
  bottom: -7px;
}

#menu-burger:checked + .menu {
  box-shadow: 0 0 0 100vw #FFFFFF, 0 0 0 100vh #FFFFFF;
  border-radius: 0;
  position: fixed;
}
#menu-burger:checked + .menu .hamburger {
  transform: rotate(45deg);
}
#menu-burger:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
#menu-burger:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

#menu-burger:checked + .menu + .lien-menu {
  opacity: 1;
  pointer-events: auto;
  transition: 0.25s 0.25s ease-in-out;
}

#menu-burger:checked + .menu + .lien-menu + .info-menu {
  opacity: 1;
  pointer-events: auto;
  transition: 0.25s 0.25s ease-in-out;
}

.lien-menu {
  z-index: 200;
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  pointer-events: none;
  text-align: center;
  min-width: 274px;
}
.lien-menu li {
  padding-bottom: 10px;
}

.info-menu {
  z-index: 200;
  position: fixed;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  pointer-events: none;
  text-align: center;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.info-menu p {
  margin-bottom: 1px;
}
.info-menu span {
  margin: 11px 0 24px 0;
  margin-top: 11px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.nav-desktop {
  display: none;
}

@media screen and (min-width: 900px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: initial;
    position: fixed;
    right: 41px;
    top: 122px;
  }
  .nav-desktop a {
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
    padding-top: 20px;
  }
}
.sommaire-header {
  margin-top: 73px;
  display: flex;
  width: 100%;
  height: 45px;
  background-color: #F6DE06;
  border: none;
}
.sommaire-header svg {
  margin: 15px 0 0 32px;
  transition: 0.5s ease-in-out;
}
.sommaire-header p {
  margin: 12px 0 0 14px;
  transition: 0.5s ease-in-out;
  color: #000000;
}
.sommaire-header.open svg {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}

.sommaire {
  background-color: #F6DE06;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sommaire-body {
  margin: 0 0 0 30px;
  height: calc(100vh - 45px);
  overflow: scroll;
  width: calc(100vw - 30px);
  padding: 0 50px 0 0;
}
.sommaire-body h3 {
  margin: 10px 0 15px 0;
}
.sommaire-body :last-child {
  padding-bottom: 24px;
  margin-bottom: 0px;
}
.sommaire-body ul {
  margin: 0 0 0 15px;
}
.sommaire-body ul li {
  margin: 0 0 10px 0;
}
.sommaire-body ul li em {
  margin-left: 10px;
}

.not-visible {
  display: none;
}

.sommaire-desktop {
  display: none;
}

.ancre {
  padding-top: 60px;
  margin-top: -60px;
}
.ancre#avant-propos {
  padding-top: 40px;
  margin-top: -40px;
}

@media screen and (min-width: 900px) {
  .sommaire {
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 100%;
    z-index: 1;
  }

  .sommaire-header {
    display: none;
  }

  .sommaire-desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    display: initial;
    width: 35px;
    height: 100%;
    margin-left: 0px;
    background-color: #F6DE06;
    border: none;
    margin-left: 312px;
    transform: translate(-312px);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  .sommaire-desktop svg {
    height: 20px;
    width: 20px;
    transition: 0.5s ease-in-out;
  }
  .sommaire-desktop.open {
    transform: translate(0px);
  }
  .sommaire-desktop.open svg {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
  }

  .sommaire-body {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: scroll;
    max-width: 347px;
    min-width: 347px;
    padding: 0 51px 0 51px;
    margin: 0;
    transform: translate(0px);
    transition: transform 0.5s ease-in-out;
    background-color: #F6DE06;
  }
  .sommaire-body h3 {
    margin: 30px 0 20px 0;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  .sommaire-body :last-child {
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  .sommaire-body h3:last-child {
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  .sommaire-body ul {
    margin: 0 0 0 0;
  }
  .sommaire-body ul li {
    margin: 0 0 10px 0;
    transition: 0.5s ease-in-out;
  }

  .not-visible {
    display: initial;
    transform: translate(-312px);
    transition: transform 0.5s ease-in-out;
  }
}
footer {
  display: none;
}

@media screen and (min-width: 900px) {
  footer {
    display: initial;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 89px;
  }
  footer:before {
    content: "";
    display: inline-block;
    background: linear-gradient(rgba(255, 255, 255, 0), 30%, white);
    height: 89px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 1;
  }
  footer:after {
    content: "";
    display: inline-block;
    background: linear-gradient(rgba(18, 18, 18, 0), 30%, #121212);
    height: 89px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0;
  }
  footer p {
    text-align: right;
    margin: 30px 25px 0 0;
    z-index: 12;
    text-align: right !important;
  }
}
.fiction-presentation a {
  display: flex;
  margin-bottom: 28px;
}
.fiction-presentation a img {
  width: 64px;
  height: 64px;
  margin-left: 30px;
}
.fiction-presentation a div {
  padding-left: 20px;
}
.fiction-presentation a h3 {
  padding-bottom: 2px;
}

.fiction-presentation:first-of-type {
  margin-top: 76px;
}

@media screen and (min-width: 900px) {
  .fiction-presentation a {
    margin-bottom: 40px;
  }
  .fiction-presentation a img {
    width: 81px;
    height: 81px;
  }
  .fiction-presentation a div {
    padding-left: 23px;
  }
  .fiction-presentation a h3 {
    padding-bottom: 8px;
  }

  .fiction-presentation:first-of-type {
    margin-top: 200px;
  }

  .fiction-presentation:last-of-type {
    margin-bottom: 100px;
  }
}
.slider-fiction {
  display: flex;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  border: solid 2px #000000;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 12px;
}
.dot:hover {
  background-color: #F6DE06;
}
.dot.selected {
  background-color: #F6DE06;
}

@media screen and (min-width: 900px) {
  .dot {
    height: 13px;
    width: 13px;
    border-width: 3px;
    margin-right: 15px;
  }
}
.model3d model-viewer#reveal {
  --poster-color: transparent;
}

.model3d {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 10px;
  margin-top: 0px;
  --poster-color: transparent;
}

.cadre-annotation {
  height: 50px;
  display: flex;
  justify-content: center;
}
.cadre-annotation > div {
  margin-top: 20px;
}
.cadre-annotation p {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 10px;
}

@media screen and (min-width: 900px) {
  .model3d {
    width: 100%;
    height: 80vh;
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .cadre-annotation > div {
    margin-top: 0px;
  }
}
h1 {
  margin: 104px 10% 0 10%;
  text-align: center;
}
h1.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

.p-intro {
  margin: 32px 10% 0 10%;
  text-align: center;
}
.p-intro.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

.lien-index h2 {
  margin: 0 auto;
  margin-bottom: 11px;
}

.lien-index {
  display: flex;
  flex-direction: column;
}
.lien-index :first-child {
  margin-top: 100px;
}
.lien-index.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
  --animate-delay: 3s;
}

.dark-mode-button.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
  --animate-delay: 4s;
}

@media screen and (min-width: 900px) {
  h1 {
    margin-top: 173px;
    text-align: left;
  }

  .p-intro {
    text-align: left;
  }

  .lien-index :first-child {
    margin-top: 222px;
  }

  .lien-index h2 {
    margin-bottom: 37px;
  }
}
.titre-page {
  text-align: center;
  margin-top: 97px;
  margin-bottom: 59px;
}

.text-resume {
  margin: 0 10%;
  max-width: 712px;
  text-align: justify;
}

.lien-resume {
  display: flex;
}
.lien-resume h2 {
  margin: 0 auto;
  margin-top: 129px;
  margin-bottom: 67px;
}

@media screen and (min-width: 900px) {
  .text-resume {
    margin: 0 auto;
  }

  .lien-resume {
    margin-bottom: 50px;
  }
}
.text-memoire {
  text-align: justify;
}
.text-memoire h2 {
  padding: 35px 0 43px 0;
  text-align: center;
}
.text-memoire h3 {
  padding-bottom: 51px;
  text-align: center;
}
.text-memoire p {
  margin: 0 10% 0 10%;
  padding-bottom: 43px;
}

.iframe-memoire iframe {
  width: 80% !important;
  margin: 0 10%;
}

@media screen and (min-width: 900px) {
  .text-memoire {
    margin-left: 327px;
    max-width: 70%;
    transition: transform 0.5s ease-in-out;
  }
  .text-memoire.large {
    transform: translate(-124px);
    transition: transform 0.5s ease-in-out;
  }
}
.page-fiction {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-fiction .text-fictions {
  max-width: 283px;
  margin: auto;
}

.ensemble-fiction {
  margin: auto;
}

@media screen and (min-width: 900px) {
  .page-fiction {
    flex-direction: row;
    justify-content: flex-start;
  }
  .page-fiction .text-fictions {
    margin: 0 10%;
    max-width: 508px;
    margin-bottom: 100px;
  }
  .page-fiction h2 {
    text-align: left;
    margin-left: 10%;
    margin-top: 200px;
  }

  .fiction-presentation {
    margin-right: 50px;
  }

  .ensemble-fiction {
    overflow-y: auto;
    height: 100vh;
    margin-right: 10%;
  }

  .ensemble-text-fiction {
    flex-grow: 1;
  }
  .ensemble-text-fiction em {
    font-weight: 200;
  }

  .ensemble-fiction::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 1224px) {
  .ensemble-fiction {
    margin-right: 15%;
  }
}
.croix-fiction {
  margin: 53px auto 0 auto;
  margin-left: calc(50% - 15px);
}

.cadre-3d {
  height: 372px;
  margin-top: 130px;
}

.info-fictions h2 {
  max-width: 310px;
  text-align: center;
  margin: 0 auto 11px auto;
}
.info-fictions h2 + p {
  text-align: center;
}
.info-fictions p {
  max-width: 293px;
  margin: auto;
}
.info-fictions p.autres-episodes {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.info-fictions iframe {
  margin: 49px 2.5% 0 2.5%;
}

.slider-fiction {
  position: absolute;
  top: 108px;
  left: calc(50% - 132px);
}

.titre-artiste {
  position: absolute;
  top: 154px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

@media screen and (min-width: 900px) {
  .slider-fiction {
    position: fixed;
    top: initial;
    bottom: 5vh;
    background-color: white;
    padding: 8px 5px 8px 15px;
    box-shadow: 0px 0px 10px white;
  }

  .croix-fiction svg {
    height: 42px;
    width: 42px;
  }

  .info-fictions {
    display: flex;
    margin-right: 50px;
  }
  .info-fictions p {
    max-width: 500px;
    font-size: 18px;
    line-height: 22px;
    margin: 0px;
  }
  .info-fictions iframe {
    width: 100%;
    margin: 49px 0 0 0;
  }

  .titre-artiste {
    position: initial;
    transform: translate(0, 0);
  }
  .titre-artiste h2 {
    text-align: left;
    margin: 68px 0 11px 0;
    max-width: 500px;
  }
  .titre-artiste h2 + p {
    text-align: left;
    margin-bottom: 58px;
  }

  .cadre-3d {
    width: 55vw;
  }
}
.no-display {
  display: none;
}

.div-a-venir {
  display: flex;
  justify-content: center;
}
.div-a-venir > p {
  font-weight: 600;
}

body.animationactive {
  transition: 0.5s ease-in-out;
}
body.animationactive .textreference {
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 900px) {
  body.animationactive footer:after {
    transition: 0.5s ease-in-out;
  }
  body.animationactive footer:before {
    transition: 0.5s ease-in-out;
  }
}
body.animationactive .toggle {
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
body.animationactive .toggle__handler {
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
body.animationactive .menu-burger .menu {
  transition: 0.5s ease-in-out;
}
body.animationactive .menu-burger .menu .hamburger {
  transition: 0.5s ease-in-out;
}
body.animationactive .menu-burger .menu .hamburger:after, body.animationactive .menu-burger .menu .hamburger:before {
  transition: 0.5s ease-in-out;
}
body.animationactive .slider-fiction {
  transition: 0.5s ease-in-out;
}
body.animationactive .slider-fiction .dot {
  transition: 0.5s ease-in-out;
}

body.darkmode {
  background-color: #121212 !important;
  color: #DDDDDD !important;
}
body.darkmode .menu-burger .menu {
  background: #121212 !important;
  box-shadow: 0 0 0 0 #121212, 0 0 0 0 #121212;
}
body.darkmode .hamburger {
  background: #DDDDDD !important;
}
body.darkmode .hamburger:after, body.darkmode .hamburger:before {
  background: #DDDDDD !important;
}
body.darkmode .menu-burger .lien-menu li h2 {
  color: #DDDDDD !important;
}
body.darkmode #menu-burger:checked + .menu {
  box-shadow: 0 0 0 100vw #121212, 0 0 0 100vh #121212;
}
body.darkmode .sommaire-header p {
  color: #000000 !important;
}
body.darkmode .sommaire-body ul li, body.darkmode .sommaire-body h3 {
  color: #000000 !important;
}
body.darkmode .textreference {
  color: #DDDDDD !important;
}
body.darkmode .ref-overlay.afficher {
  background-color: #121212;
  border-color: #DDDDDD;
}
body.darkmode .cadre-annotation p {
  background-color: #DDDDDD;
  color: #121212;
}
@media screen and (min-width: 900px) {
  body.darkmode footer:after {
    opacity: 1;
  }
  body.darkmode footer:before {
    opacity: 0;
  }
}
body.darkmode .dot {
  border-color: #DDDDDD;
}
body.darkmode .dot.selected {
  background-color: #727272;
}
body.darkmode .dot:hover {
  background-color: #727272;
}
body.darkmode .croix-fiction rect {
  fill: #DDDDDD;
}
body.darkmode .player::-webkit-media-controls-panel {
  background-color: #828282;
}
body.darkmode .player::-webkit-media-controls-timeline {
  background-color: #828282;
}
body.darkmode .dot-collision {
  background-color: #DDDDDD;
  color: #DDDDDD;
}
body.darkmode .dot-collision::before {
  background-color: #DDDDDD;
  color: #DDDDDD;
}
body.darkmode .dot-collision::after {
  background-color: #DDDDDD;
  color: #DDDDDD;
}
body.darkmode .slider-fiction {
  background-color: #121212;
  box-shadow: 0px 0px 10px #121212;
}
body.darkmode .croix-overlay:before {
  background-image: url(../img/croix-blanc.svg);
}
@media screen and (min-width: 900px) {
  body.darkmode .croix-overlay:before {
    background: none;
  }
}/*# sourceMappingURL=style.css.map */